@{
  Layout = "_Layout";
}
<div class="container">
  <div class="jumbotron">
    <h2>Parks Look Up</h2>
    <h1>State and National Parks API </h1>

    <h4>Login to see the details on This API</h4>
    @Html.ActionLink(" Register for a token", "signup", null, new { @class = "btn btn-info fa fa-user"})
  </div>